<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Marketing</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./assets/style.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/bootstrap.min.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
      rel="stylesheet"
    />
    <!-- Font Awsome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="/assets/cdn.jsdelivr.net_npm_swiper@9.4.0_swiper-bundle.min.css"
    />
  </head>
  <body>
    <div class="main-content">
      <!-- Navbar Start -->
      <div class="navber">
        <div class="row-left">
          <a href="">
            <img src="./images/logo.png" alt="" />
          </a>
        </div>
        <div class="row-right">
          <ul>
            <li>
              <a href="" class="active">Home</a>
            </li>
            <li><a href="#about" class="active">About</a></li>
            <li><a href="#gallery" class="active">Gallery</a></li>
            <li><a href="#service" class="active">Service</a></li>
            <li><a href="#contact" class="active">Contact</a></li>
          </ul>
        </div>
        <div class="mobile">
          <span
            ><i class="fa-solid fa-bars"></i>
            <!-- <div class="sidebar-list"></div> -->
          </span>
        </div>
      </div>
      <!-- Navber End -->
      <!-- Hero start -->
      <section class="main swiper mySwiper">
        <div class="wrapper swiper-wrapper">
          <div class="slide swiper-slide">
            <img class="image" src="./images/slider/carousel-1.jpg" />
            <div class="image-data">
              <span class="text">Welcome to n. Agency</span>
              <h4 class="sub-heading">#1 digital solution in the city</h4>
              <a href="#" class="btn-1">view projects</a>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img class="image" src="./images/slider/carousel-2.jpg" />
            <div class="image-data">
              <span class="text-2">Creative & Digital</span>
              <h4 class="sub-heading-2">
                Particular unaffected projection sentiments no my. Music marry
                as at cause<br />
                party worth weeks. Saw how marianne graceful dissuade new
                outlived.<br />
                Uneasy no settle whence nature narrow.
              </h4>
              <a href="#" class="btn-1">view projects</a>
            </div>
          </div>
          <div class="slide swiper-slide">
            <img class="image" src="./images/slider/carousel-3.jpeg" />
            <div class="image-data">
              <span class="text">create beautiful site</span>
              <h4 class="sub-heading">100% responsive.</h4>
              <a href="#" class="btn-1">purchase now</a>
            </div>
          </div>
        </div>
        <div class="swiper-button-next nav-btn"></div>
        <div class="swiper-button-prev nav-btn"></div>
        <div class="swiper-pagination"></div>
      </section>
      <!-- Hero End -->
      <!-- Gallery start-->
      <div class="gallery" id="gallery">
        <h2 class="gallery-heading">Gallery</h2>
        <p>---------</p>
        <h4>Our Awesome Works</h4>
        <p class="gallery-paragraph">
          Calling observe for who pressed raising his. Can connection instrument
          astonished unaffected his motionless preference.
          <br />
          Men lasting out end article express fortune demands own charmed. About
          are are money ask how seven.
        </p>
      </div>

      <div class="images">
        <div class="gallery-images">
          <img
            class="gallery-images-row-1"
            src="./images/gallery/image-1.jpg"
            alt=""
          />
          <img
            class="gallery-images-row-2"
            src="./images/gallery/image-5.jpg"
            alt=""
          />
          <img
            class="gallery-images-row-1"
            src="./images/gallery/image-3.jpg"
            alt=""
          />
          <img
            class="gallery-images-row-2"
            src="./images/gallery/image-4.jpg"
            alt=""
          />
          <img
            class="gallery-images-row-1"
            src="./images/gallery/image-2.jpg"
            alt=""
          />
          <img
            class="gallery-images-row-2"
            src="./images/gallery/image-6.jpg"
            alt=""
          />
        </div>
      </div>

      <!-- Gallery End -->
      <!-- Service Start-->
      <div class="service" id="service">
        <h2 class="service-heading">service</h2>
        <p>---------</p>
        <p class="service-paragraph">
          Cordially convinced did incommode existence put out suffering
          certainly. Besides another and saw ferrars limited ten say
          <br />unknown. So mainly it was not that difficult to understand.
        </p>
      </div>
      <div class="service-contant">
        <div class="service-webdesign">
          <div class="icon">
            <i class="fa-solid fa-desktop"></i>
          </div>
          <h3 class="service-col-1">web design</h3>
          <p class="service-web-contant">
            On at tolerably depending do perceived. Luckily eat joy see own
            shyness minuter. So before remark at depart Did son unreserved.
          </p>
        </div>
        <div class="service-webdesign">
          <div class="icon">
            <i class="fa-solid fa-video"></i>
          </div>
          <h3 class="service-col-1">VIDEO PRODUCTION</h3>
          <p class="service-web-contant">
            Have spot part for his quit may. Enable it is square my an regard.
            Often merit stuff first oh up hills as his memorey got null in
            recording.
          </p>
        </div>
        <div class="service-webdesign">
          <div class="icon">
            <i class="fab fa-modx"></i>
          </div>
          <h3 class="service-col-1">ADVERTISING</h3>
          <p class="service-web-contant">
            There spoke happy for you are out. Fertile how old address did
            showing because sitting replied six. Luckily eat joy see own shyness
            minuter.
          </p>
        </div>
        <div class="service-webdesign">
          <div class="icon">
            <i class="fa-solid fa-briefcase"></i>
          </div>
          <h3 class="service-col-1">web design</h3>
          <p class="service-web-contant">
            So striking at of to welcomed resolved. Northward by described up
            household therefore attention. Excellence decisively nay man yet
            impress.
          </p>
        </div>
      </div>
      <!-- Service End -->
      <!-- about start -->
      <div class="about" id="about">
        <h2 class="about-heading">about</h2>
        <p>---------</p>
        <p class="about-paragraph">
          Cordially convinced did incommode existence put out suffering
          certainly. Besides another and saw ferrars limited ten say
          <br />Fat new smallness few supposing suspicion two. Course sir people
          worthy horses add entire suffer. How one dull get busy dare far. At
          principle perfectly by sweetness do.
        </p>
      </div>
      <div class="about-section">
        <div class="about-content">
          <h2>WE HELP GROW YOUR BUSINESS</h2>
          <p>----------------------------</p>
          <p>
            Calling observe for who pressed raising his. Can connection
            instrument astonished unaffected his motionless preference.
            Announcing say boy precaution unaffected.Do to be agreeable
            conveying oh assurance. Wicket longer admire do barton vanity itself
            do in it. Preferred to sportsmen it engrossed listening. Park gate
            sell they west hard for the. Abode stuff noisy manor blush yet the
            far.
          </p>

          <p>
            Up colonel so between removed so do. Years use place decay sex worth
            drift age. Men lasting out end article express fortune demands own
            charmed. About are are money ask how seven.
          </p>
          <button type="button" class="btn-2" href="">contact us</button>
        </div>

        <div class="about-image">
          <img class="about-image-right" src="./images/gallery/image-9.jpg" />
        </div>
      </div>
      <!-- about end -->
      <!-- Start Video -->
      <div class="video-section">
        <div class="autoplay-video">
          <video loop muted autoplay="autoplay" class="video-main">
            <source class="" src="./images/video/video.mp4" type="video/mp4" />
          </video>
          <div class="video-desc">
            <h2 class="content">Watch Our Video</h2>

            <h6 class="description">Video Background</h6>
          </div>
        </div>
      </div>
      <!-- End Video -->
      <!-- partners start -->
      <div class="partners">
        <div class="clients-introduction">
          <h2>
            OUR PARTNERS
            <p class="client-heading-paragraph">---------</p>
          </h2>
        </div>
        <div class="clients">
          <img src="./images/clients/2.png" class="clients-company-image" />
          <img src="./images/clients/7.png" class="clients-company-image" />
          <img src="./images/clients/4.png" class="clients-company-image" />
          <img src="./images/clients/3.png" class="clients-company-image" />
          <img src="./images/clients/5.png" class="clients-company-image" />
          <img src="./images/clients/6.png" class="clients-company-image" />
        </div>
      </div>
      <!-- partners end -->
      <!-- contact start -->
      <div class="contact" id="contact">
        <h2 class="contact-heading">contact</h2>
        <p>---------</p>
        <p class="contact-paragraph">
          Lose away off why half led have near bed. At engage simple father of
          period others except. My giving do summer time dance
          <br />hero of though narrow marked at.hero of though narrow marked at.
        </p>
      </div>
      <div class="contact-form">
        <form action="">
          <div class="form-container">
            <div class="form-name flex">
              <label for="Name"></label>
              <input type="text" id="name" placeholder="Enter your name" />
            </div>
            <div class="form-email flex">
              <label for="email"></label>
              <input type="email" id="email" placeholder="Enter your email" />
            </div>
            <div class="form-textarea flex">
              <label for="message"></label>
              <textarea
                name="Message"
                id="message"
                cols="40"
                rows="8"
                placeholder="Enter your message"
              ></textarea>
            </div>
            <div class="submit-btn-div">
              <input class="submit-btn" type="submit" name="Submit" />
            </div>
          </div>
        </form>
        <div class="contact-details">
          <p class="contact-details-heading">
            Spring formal no county ye waited. My whether cheered at regular
            it<br />
            of promise blushes perhaps.
          </p>
          <div class="contact-address">
            <div class="address-details">
              <div class="icon">
                <i class="fas fa-location-arrow"></i>
              </div>
              <div class="contact-main-content">
                <h5 class="address">Address:</h5>
                <p class="address-description">149, New York, NY 098</p>
              </div>
            </div>
            <div class="address-details">
              <div class="icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="contact-main-content">
                <h5 class="address">Phone number:</h5>
                <p class="address-description">+91 8250946026</p>
              </div>
            </div>
            <div class="address-details">
              <div class="icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="contact-main-content">
                <h5 class="address">Email:</h5>
                <p class="address-description">supprot@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contact end -->
      <!-- footer start -->
      <div class="footer">
        <div class="footer-element-1">
          <img src="./images/logo_light.png" class="footer-logo" alt="" />
          <p class="footer-description">
            Soluta voluptate et optio. Eos quasi impedit <br />sapiente aliquid
            eius eligendi at. Necessitatibus<br />
            magni et sed quod quas minima.
          </p>
          <p class="footer-description">
            Soluta voluptate et optio. Eos quasi impedit <br />sapiente aliquid
            eius eligendi at. Necessitatibus<br />
            magni et sed quod quas minima.
          </p>
        </div>
        <div class="footer-element-2">
          <h5 class="footer-heading-1">Company</h5>
          <ul class="footer-company-division">
            <li><a href="">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer-element-2">
          <h5 class="footer-heading-1">Product</h5>
          <ul class="footer-company-division">
            <li><a href="">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer-element-2">
          <h5 class="footer-heading-1">Support</h5>
          <ul class="footer-company-division">
            <li><a href="">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <!-- footer icon start -->
        <div class="footer-email-icon">
          <div class="footer-email">
            <input type="email" id="email" placeholder="Enter your email" />
            <button type="submit" class="btn-3">Start</button>
          </div>
          <div class="footer-icon">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
            <a href="#"><i class="fa-brands fa-google"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-solid fa-rss"></i></a>
            <a href="#"><i class="fa-solid fa-globe"></i></a>
          </div>
        </div>
        <!-- footer icon end -->
        <!-- end to top "start"-->
        <div class="footer_icon_2">
          <a href="#" class="social_icon"
            ><i class="fa-solid fa-angles-up"></i
          ></a>
        </div>
        <!-- end to stop "end" -->
      </div>
      <!-- footer end -->
    </div>
    <!-- Swiper JS -->
    <script src="/assets/js/cdn.jsdelivr.net_npm_swiper@9.4.0_swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
      mobile = document.querySelector(".mobile");
      mobile.onclick = function () {
        rowRight = document.querySelector(".row-right");
        rowRight.classList.toggle("active");
      };
    </script>
  </body>
</html>
