* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  transition: all 0.75s ease;
}
::selection {
  background-color: #ff9900;
  color: #fff;
}

.header_desk {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
/* topbar  */
.topbar {
  background-color: #f4f4f4;
}
.topbar_left {
  padding: 10px 0;
}
.topbar_left p {
  margin: 0;
}
.tobbar_itembar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topbar_items {
  list-style: none;
  display: flex;
  border-left: 1px solid #aaa;
  padding: 0 10px;
}
.topbar_items li a {
  text-decoration: none;
  padding: 7px 10px;
  color: #333333;
  display: inline-block;
}

/* header  */
.header {
  padding: 30px 0;
  background-color: #fff;
}
.header_left {
  max-width: 225px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_info {
  display: flex;
  align-items: center;
}
.header_icon i {
  font-size: 36px;
  color: #ff9900;
}

.header_details {
  padding-left: 10px;
}
.header_details p {
  margin: 0;
}
.header_details p:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
}
.header_details p:nth-child(2) {
  font-size: 20px;
  font-weight: 600;
}
.header_details a {
  color: #111;
  text-decoration: none;
}
.header_details a:hover {
  color: #ff9900;
}

/* hero section */
.hero_slide {
  background-image: url("./assets/images/slider-bg.jpg");
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-top: 200px;
}
.hero_left p:nth-child(1) {
  font-weight: 500;
}
.hero_left h2 {
  font-size: 42px;
  font-weight: 600;
}
.hero_left a {
  background-color: #ff9900;
  padding: 10px 20px;
  color: #fff;
  border-radius: 2px;
}
.hero_left a:hover {
  background-color: #c67804;
}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #c67804;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.mySwiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #c67804;
  opacity: 1;
}

/* booking form */

.booking_form {
  background-image: url("./assets/images/texture.png");
  background-color: #222;
  color: #fff;
  padding: 120px 0;
  position: relative;
}
.booking_design {
  position: relative;
}
.booking_design::before {
  content: "";
  width: 280px;
  background-color: #ff9900;
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
}
.booking_design::after {
  content: "";
  width: 370px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
}

.form_input {
  position: relative;
}
.form_input input {
  background-color: #333;
  color: #fff;
  outline: none;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #333;
  padding-right: 40px;
  margin: 15px 0;
}
.form_input input:focus {
  border: 1px solid #ff9900;
}
.form_input i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.form .form_head p {
  text-transform: uppercase;
  color: #ff9900;
}
.form_input button {
  width: 100%;
  background-color: #ff9900;
  border: none;
  margin: 15px 0px;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}
.form_input button:hover {
  background-color: #c67804;
  color: #fff;
  transition: all 0.3s ease;
}

.form_input select {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  background: #333;
  color: #fff;
}
