* {
  padding: 0;
  margin: 0;
}

.heading {
  text-align: center;
}
.post_item {
  width: 33.33%;
}
.post_img {
  width: 100%;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 80%;
  margin: 30px auto;
}
